html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white; }
  html .navbar, body .navbar {
    border: gray;
    border-radius: 2px; }
  html #map, body #map {
    height: 500px; }
